---
import List from "../List/List.astro";
import ListDivider from "../List/ListDivider.astro";
import type { ListItemProps } from "../List/ListItemProps";
import type { QuestionAndAnswerProps } from "./QuestionAndAnswerProps";

interface Props {
  questions: QuestionAndAnswerProps[]}
const { questions } = Astro.props;
const items: ListItemProps[] = questions.map(({question, answer}) => ({ heading: question, text: answer }));
---

<div class="flex flex-col items-center py-4">
  <h1 class="font-serif text-5xl mb-10">Q & A</h1>
  <ListDivider size="large" />
  <List items={items} />
</div>
