---
import Subheading from "../Subheading.astro";
import type { ListItemProps } from "./ListItemProps";

type Props = ListItemProps;
const { heading, subhead, text } = Astro.props;
---

<div class="text-primary m-auto flex flex-col items-center gap-2 text-center">
  <Subheading>{heading}</Subheading>
  <span class="font-semibold">{subhead}</span>
  {!!text && <span set:html={text} />}
</div>
