---
import type { ListItemProps } from "./ListItemProps";

type Props = ListItemProps;
const { heading, subhead, text } = Astro.props;
---

<div
  class="text-primary m-auto flex max-w-xl flex-col items-center gap-2 text-center"
>
  <h2 class="font-serif text-2xl">{heading}</h2>
  <p class="font-semibold">{subhead}</p>
  <p>{text}</p>
</div>
