---
import ListItem from "./ListItem.astro";
import Divider from "../Divider.astro";
import type { ListItemProps } from "./ListItemProps";

interface Props {
  items: ListItemProps[];
}
const { items } = Astro.props;
---

<div
  class="text-primary sticky top-0 z-50 flex flex-col items-center justify-end gap-2 px-4 py-10"
>
  {
    items.map((item, i) => (
      <>
        <ListItem {...item} />
        {i < items.length - 1 && <Divider />}
      </>
    ))
  }
</div>
