@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap');
@import "tailwindcss";

@theme {
  --default-font-family: 'Montserrat', sans-serif;
  --font-serif: 'Ultra', serif;
  --font-hero: 'Danfo', sans-serif;
}