@import url("https://fonts.googleapis.com/css2?family=Danfo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
  --font-serif: "Ultra", serif;
  --font-hero: "Danfo", sans-serif;

  --color-canvas: #f6e8c5;
  --color-canvas--alt: var(--color-amber-50);
  --color-primary: #f1784d;
  --color-primary--alt: #feb662;
  --color-secondary: #536343;
  --color-secondary--alt: #819766;
  --color-tertiary: #7db3d5;
  --color-tertiary--alt: #f39aa0;
}

@layer base {
  a {
    @apply underline;
    @apply text-secondary--alt;
  }
  html {
    @apply text-primary;
    @apply bg-canvas;
  }
  p {
    @apply pb-4;
  }
}
