<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Uh oh!</title>
  </head>
  <body
    style="background-image: url('/public/assets/404/blob.webp'); background-size: cover; background-position-x: center;"
  >
    <h1 style="text-align: center; color: white; position: relative; top: 15%">
      this isn't what you're looking for
    </h1>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
