---
import Layout from "../layouts/Layout.astro";
import type { AccommodationProps } from '../components/AccommodationCard/AccommodationProps';
import AccommodationCard from "../components/AccommodationCard/AccommodationCard.astro";
import Subheading from "../components/Subheading.astro";
import Divider from "../components/Divider.astro";

const accommodationOptions: AccommodationProps[] = [
  {
    title: "Safari Tent",
    fullyBooked: false,
    description: ["Perfect for families and groups of up to eight.", "Each safari tent has its own private shower and toilet, fridge, BBQ, electricity and plenty of board games and outdoor space!"],
    imgSrc: "https://tapnellfarm.com/assets/images/icons/Tapnell-Farm-safari-tents-PH-imagery_2024-01-24-112616_gvnj.jpg",
    price: 1187,
    beds: 2,
    bedsExtra: 1,
    bathrooms: 1,
    sleeps: 6,
    sleepsExtra: 2,
    link: "https://tapnellfarm.com/stay/toms-eco-lodge-glamping/safari-tents",
  },
  {
    title: "Eco Pod",
    fullyBooked: false,
    description: ["Perfect for a romantic getaway for two or a snug retreat for a family of four.", "Each Eco Pod has a built-in double bed, a pull-out double sofa bed, open plan kitchenette and living area, shower room and toilet."],
    imgSrc: "https://tapnellfarm.com/assets/images/icons/Tapnell-Farm-Eco-Pod_2024-01-24-112734_ccxb.jpg",
    price: 629,
    beds: 1,
    bedsExtra: 1,
    bathrooms: 1,
    sleeps: 2,
    sleepsExtra: 2,
    link: "https://tapnellfarm.com/stay/toms-eco-lodge-glamping/eco-pods",
  },
  {
    title: "Modulog",
    fullyBooked: false,
    description: ["Modulogs are perfectly proportioned for groups of up to six.", "Each modulog has two double bedrooms, a shower room and an open plan kitchen-diner and lounge with a sofa bed."],
    imgSrc: "https://tapnellfarm.com/assets/images/icons/Toms-Eco-Lodge-Tapnell-Farm-Modulog-outside-evening.jpg",
    price: 1330,
    beds: 2,
    bathrooms: 1,
    sleeps: 4,
    sleepsExtra: 2,
    link: "https://tapnellfarm.com/stay/toms-eco-lodge-glamping/modulogs",
  },
  {
    title: "Wood Cabin",
    fullyBooked: false,
    description: ["Wood Cabins are spacious enough to comfortably sleep up to ten guests.", "Each modern cabin features an open plan living space, fully fitted kitchen, three bedrooms, a bathroom and a shower room."],
    imgSrc: "https://tapnellfarm.com/assets/images/icons/Tapnell-Farm_Toms-Eco-Lodges_Cabins-5.jpg",
    price: 1478,
    beds: 3,
    bathrooms: 2,
    sleeps: 8,
    sleepsExtra: 2,
    link: "https://tapnellfarm.com/stay/toms-eco-lodge-glamping/wood-cabins",
  },
  {
    title: "Dome",
    fullyBooked: false,
    description: ["Each Dome includes a log store, adjoining en-suite bathroom (shower and toilet) and separate kitchenette.", "The actual Dome interior is open plan living / sleeping, with a dividing wall for the bunk room."],
    imgSrc: "https://tapnellfarm.com/assets/images/general/Tapnell-Farm-Dome-Meadow-view-bbq_2022.jpg",
    price: 1009,
    beds: 1,
    bathrooms: 1,
    sleeps: 4,
    sleepsExtra: 2,
    link: "https://tapnellfarm.com/stay/toms-eco-lodge-glamping/dome-meadow",
  },
  {
    title: "Chalet",
    fullyBooked: false,
    description: ["West and East Chalet feature open plan living spaces, a kitchenette, three bedrooms, a bathroom. Perfect for a family or group gathering of up to 6 people."],
    imgSrc: "https://tapnellfarm.com/assets/images/icons/Camp-Tapnell_Chalets_2024-24_2024-10-10-151956_odpc.jpg",
    price: 961,
    beds: 3,
    bathrooms: 1,
    sleeps: 6,
    link: "https://tapnellfarm.com/stay/camp-tapnell-no-fuss-glamping/chalets",
  },
  {
    title: "Poachers Lodge",
    fullyBooked: false,
    description: ["Poachers Lodge is a very comfortable family retreat.", "The house has a large, open plan kitchen diner with double doors that lead out into a spacious patio area.", "Upstairs, there are four bedrooms: three doubles and a twin/king room."],
    imgSrc: "https://tapnellfarm.com/assets/images/icons/Poachers-Lodge_Tapnell-Farm_Wight-Property-Photography-26_2024-01-24-113521_clny.JPG",
    price: 1255,
    beds: 4,
    bathrooms: 3,
    sleeps: 8,
    link: "https://tapnellfarm.com/stay/farm-cottages-houses/poachers-lodge",
  },
  {
    title: "Dairyman's Cottage",
    fullyBooked: false,
    description: ["The Dairyman’s Cottage has four bedrooms: three doubles en suite and a twin room.", "Downstairs there is an open plan kitchen, diner and sitting room. Outside there is a patio with BBQ, large garden and parking."],
    imgSrc: "https://tapnellfarm.com/assets/images/general/Dairymans-Cottage-Tapnell-Farm-outside.JPG",
    price: 1700,
    beds: 4,
    bathrooms: 4,
    sleeps: 8,
    sleepsExtra: 2,
    link: "https://tapnellfarm.com/stay/farm-cottages-houses/dairymans-cottage",
  },
  {
    title: "Poachers Perch",
    fullyBooked: false,
    description: ["Poachers Perch is an older style, family cabin, that has been newly renovated inside.", "The Perch sleeps up to 6."],
    imgSrc: "https://tapnellfarm.com/assets/images/icons/1G9O8404.jpg",
    price: 1182,
    beds: 3,
    bathrooms: 1,
    sleeps: 6,
    link: "https://tapnellfarm.com/stay/farm-cottages-houses/poachers-perch",
  },
  {
    title: "Tapnell Manor",
    fullyBooked: false,
    description: ["Tapnell Manor has recently undergone a major refurbishment bringing the interior into the 21st century while maintaining the rustic appeal of an old farmhouse."],
    imgSrc: "https://tapnellfarm.com/assets/images/icons/Tapnell-Farm_Manor-House_Spring-Gardens-19.jpg",
    price: 4405,
    beds: 10,
    bathrooms: 8,
    sleeps: 22,
    sleepsExtra: 4,
    link: "https://tapnellfarm.com/stay/farm-cottages-houses/tapnell-manor",
  },
]
---

<Layout title="Accommodation">
  <Subheading>Where and how long?</Subheading>
  <p>
    We have reserved Tapnell Farm's <a
      href="https://tapnellfarm.com/stay/toms-eco-lodge-glamping"
      target="_blank">Eco Lodge Glamping</a
    > and <a
      href="https://tapnellfarm.com/stay/farm-cottages-houses"
      target="_blank">Farm House Cottages</a
    > for you to stay at for the weekend.
  </p>
  <p>
    These options are a 2 minute drive or 20 minute walk from the wedding venue.
    We will be providing end of night transportation back to Tapnell Farm, but
    if you wish to book something off site please feel free to do so.
  </p>
  <p>
    These options are reserved until the end of June 2025, after that you will
    have to compete with the general public!
  </p>
  <p>
    We recommend you book from at least Friday till Sunday to fully enjoy the
    weekend. We will be on site from Thursday till Monday so if you'd like to
    stay longer please feel free.
  </p>
  <Divider />
  <Subheading>How to book</Subheading>
  <p>To book, view the options below and email <a href="mailto:stay@tapnellfarm.com">stay@tapnellfarm.com</a> with the details of your booking.</p>
  <p>Approximate prices are listed below for a Friday to Monday stay.</p>
  <p>You can find more information about all the options on the <a href="https://tapnellfarm.com/stay/availability" target="_blank">Tapnell Farm</a> website. Accommodation will be marked as unavailable on the website for our wedding dates as we have a blanket reservation.</p>

  {accommodationOptions.map((option) => (
    <AccommodationCard {...option} />
  ))}
</Layout>
