---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import type { AccommodationProps } from '../components/AccommodationCard/AccommodationProps';
import accommodation1 from "../assets/images/accommodation/1.webp";
import accommodation2 from "../assets/images/accommodation/2.webp";
import accommodation3 from "../assets/images/accommodation/3.webp";
import accommodation4 from "../assets/images/accommodation/4.webp";
import accommodation5 from "../assets/images/accommodation/5.webp";
import accommodation6 from "../assets/images/accommodation/6.webp";
import AccommodationCard from "../components/AccommodationCard/AccommodationCard.astro";
import Subheading from "../components/Subheading.astro";
import Divider from "../components/Divider.astro";

// Safari Tent £1187
// Cabin £1478
// Pod £629
// Modulog £1330
// Dome £1009
// Perch £1182
// Chalet £961
// Dairymans £1700
// Manor £4405

const accommodationOptions: AccommodationProps[] = [
  {
    title: "Safari Tent",
    fullyBooked: true,
    description: ["Perfect for families and groups of up to eight, each safari tent combines rustic chic with practical comforts.", "Each safari tent has its own private shower and toilet, fridge, BBQ, electricity and plenty of board games and outdoor space to keep everyone entertained!"],
    imgSrc: "https://tapnellfarm.com/assets/images/icons/Tapnell-Farm-safari-tents-PH-imagery_2024-01-24-112616_gvnj.jpg",
    price: 1187,
    beds: 2,
    bedsExtra: 1,
    bathrooms: 1,
    sleeps: 6,
    sleepsExtra: 2,
    link: "https://tapnellfarm.com/stay/toms-eco-lodge-glamping/safari-tents",
  },
  {
    title: "Eco Pod",
    description: ["Our full-insulated pods have been thoughtfully designed to maximise space, making them perfect for a romantic getaway for two or a snug retreat for a family of four.", "Each Eco Pod has a built-in double bed, a pull-out double sofa bed, open plan kitchenette and living area, shower room and toilet."],
    imgSrc: "https://tapnellfarm.com/assets/images/icons/Tapnell-Farm-Eco-Pod_2024-01-24-112734_ccxb.jpg",
    price: 0,
    beds: 1,
    bedsExtra: 1,
    bathrooms: 1,
    sleeps: 2,
    sleepsExtra: 2,
    link: "https://tapnellfarm.com/stay/toms-eco-lodge-glamping/eco-pods",
  },
  // {
  //   title: "test",
  //   description: "",
  //   imgSrc: "https://tapnellfarm.com/assets/images/icons/Tapnell-Farm-Eco-Pod_2024-01-24-112734_ccxb.jpg",
  //   price: 0,
  //   beds: 0,
  //   bedsExtra: 0,
  //   bathrooms: 0,
  //   sleeps: 0,
  //   sleepsExtra: 0,
  //   link: "",
  // },
]
---

<Layout title="Accommodation">
  <Subheading>Where and how long?</Subheading>
  <p>
    We have reserved Tapnell Farm's <a
      href="https://tapnellfarm.com/stay/toms-eco-lodge-glamping"
      target="_blank">Eco Lodge Glamping</a
    > and <a
      href="https://tapnellfarm.com/stay/farm-cottages-houses"
      target="_blank">Farm House Cottages</a
    > for you to stay at for the weekend.
  </p>
  <p>
    These options are a 2 minute drive or 20 minute walk from the wedding venue.
    We will be providing end of night transportation back to Tapnell Farm, but
    if you wish to book something off site please feel free to do so.
  </p>
  <p>
    These options are reserved until the end of June 2025, after that you will
    have to compete with the general public!
  </p>
  <p>
    We recommend you book from at least Friday till Sunday to fully enjoy the
    weekend. We will be on site from Thursday till Monday so if you'd like to
    stay longer please feel free.
  </p>
  <Divider />
  <Subheading>How to book</Subheading>
  <p>To book, view the options below and email <a href="mailto:stay@tapnellfarm.com">stay@tapnellfarm.com</a> with the details of your booking.</p>
  <p>You can find more information about all the options on the <a href="https://tapnellfarm.com/stay/availability" target="_blank">Tapnell Farm</a> website. Accommodation will be marked as unavailable on the website for our wedding dates as we have a blanket reservation.</p>

  {accommodationOptions.map((option) => (
    <AccommodationCard {...option} />
  ))}
</Layout>
