---
import Layout from "../layouts/Layout.astro";
import Agenda from "../components/Agenda.astro";
import usImage from "../assets/images/home/us.webp";
import HeroImage from "../components/HeroImage.astro";
import Countdown from "../components/Countdown.astro";
import { WEDDING_DATE, NAME_1, NAME_2 } from "../constants";
---

<Layout title={`${NAME_1} & ${NAME_2}`} contentWidth="large" hideHeader>
  <div
    class="flex flex-col-reverse items-center gap-x-10 gap-y-10 md:flex-row"
    slot="after-hero"
  >
    <HeroImage altText="A picture of us" image={usImage} width={600} />
    <div class="max-w-2xl flex-1 text-center md:text-left">
      <h1 class="pb-2 font-serif text-5xl">Welcome<br />to our wedding!</h1>
      <Countdown countdownDate={WEDDING_DATE} />
      <p>
        We can't wait to host you for our wedding weekend on the Isle of Wight.
      </p>
      <p>
        We will be hosting guests from Friday through to Sunday, but you're
        welcome to stay for longer if you like. There's plenty to do on the Isle
        of Wight from hiking, beaches, breweries, and more!
      </p>
      <p>
        We can only hold the nearby accommodation on Tapnell Farm until June, so
        make sure to secure your accommodation before then.
      </p>
      <a
        href="/rsvp"
        class="bg-secondary rounded-md px-5 py-2 text-white no-underline"
        >RSVP</a
      >
    </div>
  </div>
  <Agenda />
</Layout>
