---
import Layout from "../layouts/Layout.astro";
import Input from "../components/Input.astro";
import Button from "../components/Button.astro";
import Divider from "../components/Divider.astro";
import Radio from "../components/Radio.astro";
---

<Layout title="RSVP">
  <p>Please RSVP for your entire group.</p>

  <form class="flex flex-col gap-16 items-center" method="post" id="rsvp-form">
    <div class="flex flex-col gap-4">
      <Input id="guest_name" name="guest_name" label="Your name" required />
      <Input id="guest_plus_one_name" name="guest_plus_one_name" label="Your plus one's name" />
      <Radio label="Will you be attending?" name="attending" options={[{ id: "yes", value: "yes", label: "Yes" }, { id: "no", value: "no", label: "No" }]} required />
      <Input id="dietary_restrictions" name="dietary_restrictions" label="Do you have any dietary requirements?" required />
      <Input id="children" name="children" label="Are you bringing any children?" required />
      <Input id="song_choice" name="song_choice" label="What song will get you on the dance floor?" required />
      <Divider />
      <Input id="email" name="email" label="Your email" required />
    </div>
    <Button id="submit_button" type="submit" text="Submit RSVP" />
  </form>
</Layout>

<script>
  async function handleSubmit(event: any) {
    event.preventDefault();

    document.getElementById("submit_button")?.setAttribute("disabled", "true");

    const formData = new FormData(event.target);
    const response = await fetch("https://submitrsvp-aepvkdfurq-uc.a.run.app", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        guestName: formData.get("guest_name"),
        guestPlusOneName: formData.get("guest_plus_one_name"),
        attending: formData.get("attending") === "yes",
        dietaryRestrictions: formData.get("dietary_restrictions"),
        children: formData.get("children"),
        songChoice: formData.get("song_choice"),
        email: formData.get("email"),
      })
    });
    document.getElementById("submit_button")?.removeAttribute("disabled");

    if (response.ok) {
      alert("RSVP submitted successfully!");
    } else {
      alert("Error submitting RSVP.");
    }
  }

  document.getElementById("rsvp-form")?.addEventListener("submit", handleSubmit);
</script>