---
import Divider from "../components/Divider.astro";
import Subheading from "../components/Subheading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Travel">
  <Subheading>Ferry</Subheading>

  <p>We can provide discounted ferry bookings for guests. Check back later for more
  information!</p>

  <Divider />

  <Subheading>Directions</Subheading>

  <p>The wedding will be at <a href="https://maps.app.goo.gl/r78XXR6xhewgM59j7" target="_blank">East Afton Farmhouse</a>, a 2 minute drive from <a href="https://maps.app.goo.gl/B1CJNk84qtmxknj59" target="_blank">Tapnell Farm</a>.</p>

  <div class="flex justify-center w-full overflow-hidden">
    <div class="w-full h-[585px] mt-[-60px]">
      <iframe
        class="w-full h-[600px]"
        src="https://www.google.com/maps/d/embed?mid=1qsXjt7qe0h2NrEnV3jZ_KybP0mANW-k&ehbc=2E312F&noprof=1">
      </iframe>
    </div>
  </div>
</Layout>
