---
import Divider from "../components/Divider.astro";
import Subheading from "../components/Subheading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Travel">
  <Subheading>Ferry</Subheading>

  <p>
    Ferries to the Isle of Wight are available from Portsmouth, Southampton and
    Lymington through either <a
      href="https://www.wightlink.co.uk/"
      target="_blank">Wightlink</a
    > or <a href="https://www.redfunnel.co.uk/" target="_blank">Red Funnel</a>,
    with Lymington to Yarmouth being the closest crossing point to Tapnell Farm.
  </p>
  <p>
    <b
      >For discounted ferry bookings, please contact <a
        href="mailto:stay@tapnellfarm.com">stay@tapnellfarm.com</a
      >. Be sure to mention you're attending the wedding along with the
      following information:</b>
  </p>
  <ul class="list-inside list-disc">
    <li>Your name</li>
    <li>Number of passengers</li>
    <li>Date and time of travel (outbound and return)</li>
    <li>Crossing locations (outbound and return)</li>
    <li>Vehicle type (e.g. car, van, bike) and registration</li>
  </ul>

  <Divider />

  <Subheading>Directions</Subheading>

  <p>
    The wedding will be at <a
      href="https://maps.app.goo.gl/r78XXR6xhewgM59j7"
      target="_blank">East Afton Farmhouse</a
    >, a 2 minute drive from <a
      href="https://maps.app.goo.gl/B1CJNk84qtmxknj59"
      target="_blank">Tapnell Farm</a
    >.
  </p>

  <div class="flex w-full justify-center overflow-hidden">
    <div class="mt-[-60px] h-[585px] w-full">
      <iframe
        class="h-[600px] w-full"
        src="https://www.google.com/maps/d/embed?mid=1qsXjt7qe0h2NrEnV3jZ_KybP0mANW-k&ehbc=2E312F&noprof=1"
      >
      </iframe>
    </div>
  </div>
</Layout>
