---
import NavLinks from "./NavLinks.astro";
import NavHeading from "./NavHeading.astro";
import Announcement from "../Announcement.astro";
---

<Announcement />
<nav
  class="bg-canvas sticky top-0 z-50 flex items-center justify-between gap-2 px-2 py-2 md:px-4"
>
  <NavHeading />
  <NavLinks />
</nav>
