---
import NavLinks from "./NavLinks.astro";
import NavHeading from "./NavHeading.astro";
---

<nav
  class="bg-canvas sticky top-0 z-50 flex items-center justify-between gap-4 px-4 py-2"
>
  <NavHeading />
  <NavLinks />
</nav>
