---
import NavLink from './NavLink.astro'
---
<nav class="px-4 py-2 bg-zinc-50 sticky top-0 z-50 flex justify-end gap-2 text-emerald-800">
  <NavLink href="/" text="Home" />
  <NavLink href="/accommodation" text="Accommodation" />
  <NavLink href="/travel" text="Travel" />
  <NavLink href="/q-and-a" text="Q&A" />
  <NavLink href="/rsvp" text="RSVP" />
</nav>