---
import { NAME_1, NAME_2 } from "../../constants";
const NAME_1_ABBR = NAME_1.charAt(0);
const NAME_2_ABBR = NAME_2.charAt(0);
---

<div id="nav-heading" class="opacity-0 transition-opacity">
  <span class="font-hero text-primary hidden md:block">{NAME_1} & {NAME_2}</span
  >
  <span class="font-hero text-primary block md:hidden"
    >{NAME_1_ABBR} & {NAME_2_ABBR}</span
  >
</div>

<script data-astro-rerun>
  function watchTitle() {
    const titleElement = document.getElementById("hero-title");
    const navHeading = document.getElementById("nav-heading");
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (navHeading) {
            if (entry.isIntersecting) {
              navHeading.classList.add("opacity-0");
            } else {
              navHeading.classList.remove("opacity-0");
            }
          }
        });
      },
      {
        threshold: 0,
      },
    );
    if (titleElement) {
      observer.observe(titleElement);
    }
  }
  watchTitle();
</script>
