---
import NavLink from "./NavLink.astro";
---

<div class="flex gap-2">
  <NavLink href="/" text="Home" />
  <NavLink href="/accommodation" text="Accommodation" />
  <NavLink href="/travel" text="Travel" />
  <NavLink href="/q-and-a" text="Q&A" />
  <NavLink href="/rsvp" text="RSVP" />
</div>
