---
import List from "../components/List/List.astro";
const agenda = [
  {
    heading: "Pre-Wedding Pub Dinner",
    subhead: "Friday, July 17th 2026",
    text: "<a href='https://www.google.com/maps/place/The+Cow/@50.6710322,-1.4647325,13.89z/data=!4m14!1m7!3m6!1s0x48747ffa6bf141e1:0x7ce3440df1975f3!2sThe+Cow!8m2!3d50.6793692!4d-1.4713666!16s%2Fg%2F11cnwdn50c!3m5!1s0x48747ffa6bf141e1:0x7ce3440df1975f3!8m2!3d50.6793692!4d-1.4713666!16s%2Fg%2F11cnwdn50c?entry=ttu&g_ep=EgoyMDI1MDMxOS4yIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D' target='_blank'>The Cow, Tapnell Farm, PO41 0YJ</a>",
  },
  {
    heading: "Wedding",
    subhead: "Saturday, July 18th 2026",
    text: "<a href='https://www.google.com/maps/place/East+Afton+Farmhouse/@50.6761272,-1.4909063,17z/data=!3m1!4b1!4m6!3m5!1s0x487380041fb20a21:0x6c788e844d959063!8m2!3d50.6761273!4d-1.4860354!16s%2Fg%2F11gbnk5s6m?entry=ttu&g_ep=EgoyMDI1MDMxOS4yIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D' target='_blank'>East Afton Farmhouse, PO40 9UF</a>",
  },
  {
    heading: "Post-Wedding Activities",
    subhead: "Sunday, July 19th 2026",
    text: "<a href='https://www.google.com/maps/place/Tapnell+Farm+Park/@50.6796483,-1.4735519,17z/data=!3m1!4b1!4m6!3m5!1s0x48747ffa6bf141e1:0x3c57c00962f529bb!8m2!3d50.6796483!4d-1.470977!16s%2Fg%2F1ptym405f?entry=ttu&g_ep=EgoyMDI1MDMxOS4yIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D' target='_blank'>Tapnell Farm, PO41 0YJ</a>",
  },
];
---

<div class="flex flex-col items-center">
  <List items={agenda} />
</div>
