<div class="bg-secondary p-2 text-center md:p-4">
  <span class="text-contrast font-bold"
    >Please book any <a href="/accommodation">accommodation</a> on Tapnell Farm before
    the end of June 2025!</span
  >
</div>
