---

---

<div class="bg-secondary flex items-center justify-center py-4">
  <span class="text-contrast font-bold"
    >Please book any <a href="/accommodation">accommodation</a> on Tapnell Farm before
    the end of June 2025!</span
  >
</div>
