---
---
<div class="bg-secondary flex justify-center items-center py-4">
  <span class="text-contrast font-bold">Please book any accommodation on Tapnell Farm before the end of June 2025!</span>
</div>