<div class="bg-primary--alt p-2 text-center md:p-4">
  <span class="text-secondary font-bold"
    >Please book any <a href="/accommodation">accommodation</a> on Tapnell Farm before
    the end of June 2025!</span
  >
</div>
