---
interface Props {
  countdownDate: Date;
}
const { countdownDate } = Astro.props;
---

<p class="pb-6">
  <span
    class="font-bold"
    id="counter"
    data-countdown-date={countdownDate.getTime()}></span> days to go!
</p>

<script>
  function updateCountdown() {
    const counterEl = document.getElementById("counter");
    const countdownDateMs = parseInt(
      counterEl?.getAttribute("data-countdown-date") ?? "0",
      10,
    );
    if (counterEl) {
      counterEl.textContent = `${calcDaysRemaining(countdownDateMs)}`;
    }
  }

  function calcDaysRemaining(countdownDateMs: number) {
    const MS_IN_DAY = 1000 * 60 * 60 * 24;
    const now = new Date().getTime();
    const difference = Math.max(countdownDateMs - now, 0);
    return Math.ceil(difference / MS_IN_DAY);
  }

  updateCountdown();
  setInterval(updateCountdown, 1000 * 60);
</script>
