---
import { DATE_FORMAT, WEDDING_DATE } from "../constants";
---

<div class="flex flex-col items-center">
  <div class="border-secondary--alt mb-1 w-30 border-b-2"></div>
  <span class="text-secondary--alt text-2xl"
    >{WEDDING_DATE.toLocaleDateString(DATE_FORMAT).replaceAll("/", " · ")}</span
  >
  <div class="border-secondary--alt mt-1 w-30 border-b-2"></div>
</div>
