---
import { NAME_1, NAME_2 } from "../constants";

---
<span
class="font-hero max-w-2xs text-center text-8xl [text-shadow:_5px_5px_0_var(--color-secondary)]"
id="hero-title"
>
{NAME_1} & {NAME_2}
</span>