---
import { Image } from "astro:assets";

interface Props {
  altText: string;
  image: ImageMetadata;
  width?: number;
  height?: number;
}

const { altText, image, width, height } = Astro.props;
---

<div class="h-fit w-fit flex-1">
  <div class="relative">
    <Image
      width={width}
      height={height}
      class="border-secondary relative z-10 mt-2 rounded-4xl border-8 md:border-16"
      src={image}
      alt={altText}
    />
    <svg
      class="absolute top-[30%] -left-[30%] h-full w-full"
      viewBox="0 0 100 100"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle class="fill-primary" cx="50" cy="50" r="40%"></circle>
    </svg>
  </div>
</div>
