---
interface Props {
  question: string;
  answer: string;
}
const { question, answer } = Astro.props;
---

<div class="m-auto flex max-w-xl flex-col items-center gap-2 p-2 text-center">
  <h2 class="font-serif text-2xl">{question}</h2>
  <p>{answer}</p>
</div>
