---
import DiscoBallContent from './DiscoBallContent.astro';
---
<div class="hidden md:block">
  <DiscoBallContent size="large" />
</div>
<div class="block md:hidden">
  <DiscoBallContent size="small" />
</div>