---
import { Icon } from "astro-icon/components";

interface Props {
  icon: string;
}
const { icon } = Astro.props;
---

<span
  class="bg-primary text-canvas--alt flex items-center gap-2 rounded-md px-2 py-1 text-nowrap"
>
  <Icon name={`mdi:${icon}`} />
  <slot />
</span>
