---
import { Icon } from 'astro-icon/components'

interface Props {
  icon: string;
}
const { icon } = Astro.props;
---
<span class="flex items-center gap-2 bg-primary rounded-md text-white px-2 py-1 text-nowrap">
  <Icon name={`mdi:${icon}`} />
  <slot />
</span>