---
import "../styles/global.css";
import NavBar from "../components/NavBar/NavBar.astro";
import DiscoBall from "../components/DiscoBall/DiscoBall.astro";
import usImage from "../assets/images/home/us.webp";
import HeroImage from "../components/HeroImage.astro";
import Date from "../components/Date.astro";
import Hero from "../components/Hero.astro";
import Countdown from "../components/Countdown.astro";
import { WEDDING_DATE } from "../constants";
import Divider from "../components/Divider.astro";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <div class="px-4 pb-4">
      <main class="mx-auto max-w-6xl pt-4">
        <div
          class="flex flex-wrap items-center justify-center gap-y-2 py-15"
        >
          <div class="flex flex-col gap-4 mr-10">
            <Hero />
            <Date />
          </div>
          <DiscoBall />
        </div>
        <div class="flex pt-10">
          <HeroImage altText="A picture of us" image={usImage} width={600} />
          <div class="max-w-2xl pl-10">
            <h1 class="font-serif text-5xl pb-2">Welcome<br>to our wedding!</h1>
            <Countdown countdownDate={WEDDING_DATE} />
            <p>We can't wait to host you for our wedding weekend on the Isle of Wight.</p>
            <p>We will be hosting guests from Friday through to Sunday, but you're welcome to stay for longer if you like. There's plenty to do on the Isle of Wight from hiking, beaches, breweries, and more!</p>
            <p>We can only hold the nearby accommodation on Tapnell Farm until June, so make sure to secure your accommodation before then.</p>
            <button class="bg-contrast text-white px-5 py-2 rounded-md">RSVP</button>
          </div>
        </div>
        <div class="flex flex-col items-center py-10">
          <slot />
        </div>
        <footer class="flex flex-col items-center pb-20">
          <Divider size="large" />
          <span class="font-hero text-8xl py-10">A & A</span>
        </footer>
      </main>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
  }
</style>
