---
import "../styles/global.css";
import NavBar from "../components/NavBar/NavBar.astro";
import DiscoBall from "../components/DiscoBall.astro";
import usImage from "../assets/images/home/us.webp";
import HeroImage from "../components/HeroImage.astro";
import Date from "../components/Date.astro";
import Hero from "../components/Hero.astro";

interface Props {
  title: string;
  hideHeading?: boolean;
}
const { hideHeading, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <div class="px-4 pb-4">
      <main class="mx-auto max-w-6xl pt-4">
        <div
          class="flex flex-wrap items-center justify-center gap-y-2 justify-self-center pb-4"
        >
          <div class="flex flex-col items-center gap-4">
            <Hero />
            <Date />
          </div>
          <DiscoBall />
        </div>
        <HeroImage altText="A picture of us" image={usImage} width={600} />
        <div class="flex flex-col items-center py-4">
          <slot />
        </div>
      </main>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
  }
</style>
