---
import "../styles/global.css";
import NavBar from "../components/NavBar/NavBar.astro";
import DiscoBall from "../components/DiscoBall/DiscoBall.astro";
import Date from "../components/Date.astro";
import Hero from "../components/Hero.astro";
import Divider from "../components/Divider.astro";
import Footer from "../components/Footer.astro";
import classnames from "classnames";

interface Props {
  title: string;
  contentWidth?: "small" | "medium" | "large";
  hideHeader?: boolean;
}

const { hideHeader, contentWidth = "medium", title } = Astro.props;
const tailwindWidths = {
  small: "xl",
  medium: "4xl",
  large: "6xl",
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/discoball.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <div class="px-2 pt-4 pb-16 md:px-4 md:pb-28">
      <main
        class={classnames("mx-auto", {
          "max-w-xl": contentWidth === "small",
          "max-w-4xl": contentWidth === "medium",
          "max-w-6xl": contentWidth === "large",
        })}
      >
        <div
          class="flex flex-col items-center justify-center gap-x-10 gap-y-2 pt-8 pb-8 md:flex-row md:pb-20"
        >
          <div class="flex flex-col gap-4">
            <Hero />
            <Date />
          </div>
          <DiscoBall />
        </div>
        <div class="flex flex-col gap-10 text-center">
          <slot name="after-hero" />
          {
            hideHeader ? null : (
              <h1 class="text-center font-serif text-3xl md:text-5xl">
                {title}
              </h1>
            )
          }
          <Divider size="large" />
          <slot />
          <Footer />
        </div>
      </main>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
  }
</style>
