---
import "../styles/global.css";
import NavBar from "../components/NavBar/NavBar.astro";
import DiscoBall from "../components/DiscoBall/DiscoBall.astro";
import Date from "../components/Date.astro";
import Hero from "../components/Hero.astro";
import Divider from "../components/Divider.astro";
import Footer from "../components/Footer.astro";
import classnames from "classnames";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  contentWidth?: "small" | "medium" | "large";
  hideHeader?: boolean;
}

const { hideHeader, contentWidth = "medium", title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <NavBar />
    <div class="px-2 pt-4 pb-16 md:px-4 md:pb-28">
      <div class="mx-auto">
        <div
          class="grid grid-cols-1 items-center justify-center gap-x-18 gap-y-10 pt-2 pb-12 md:grid-cols-2 md:pt-4"
        >
          <div class="flex justify-center md:justify-end">
            <div class="flex flex-col gap-8">
              <Hero />
              <Date />
            </div>
          </div>
          <div class="hidden md:block">
            <DiscoBall size={250} />
          </div>
          <div class="flex justify-center md:hidden">
            <DiscoBall size={200} />
          </div>
        </div>
        <main
          transition:animate="slide"
          class={classnames("flex flex-col gap-10 text-center mx-auto", {
            "max-w-xl": contentWidth === "small",
            "max-w-4xl": contentWidth === "medium",
            "max-w-6xl": contentWidth === "large",
          })}
        >
          <slot name="after-hero" />
          {
            !hideHeader && (
              <h1 class="text-center font-serif text-3xl md:text-5xl">
                {title}
              </h1>
            )
          }
          <Divider size="large" />
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
  }
</style>

<script data-astro-rerun>
  function watchTitle() {
    const titleElement = document.getElementById("hero-title");
    const navHeading = document.getElementById("nav-heading");
    const headerHeight = document
      .querySelector("nav")
      ?.getBoundingClientRect().height;
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (navHeading) {
            if (entry.isIntersecting) {
              navHeading.classList.add("opacity-0");
            } else {
              navHeading.classList.remove("opacity-0");
            }
          }
        });
      },
      {
        threshold: 0,
        rootMargin: `-${headerHeight}px`,
      },
    );
    if (titleElement) {
      observer.observe(titleElement);
    }
  }
  watchTitle();
</script>
